/* Font Formatting */
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("fonts/montserrat-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-v12-latin-regular.woff2") format("woff2"), url("fonts/montserrat-v12-latin-regular.woff") format("woff"), url("fonts/montserrat-v12-latin-regular.ttf") format("truetype"), url("fonts/montserrat-v12-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

h1 {
  font-family: Montserrat, Helvetica, Arial;
  font-weight: 500;
  font-size: 200%;
  text-align: center;
  color: #3c3;
  color: var(--linkColor);
  text-transform: capitalize;
}

h2 {
  font-family: Montserrat , Helvetica, Arial;
  font-size: 150%;
  text-align: center;
  color: #3c3;
  color: var(--textColor);
}

p {
  font-family: Montserrat , Helvetica, Arial;
  text-align: center;
  color: #3c3;
  color: var(--textColor);
  font-weight: 350;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #3c3;
  color: var(--linkColor);
  -webkit-transition: .5s;
  transition: .5s;
}

/* Nav bar formatting */
#navbar {
  position: fixed;
  margin: 0;
  top: 0;
  width: 100%;
  background-color: #1c262b;
  height: auto;
  z-index: 100;
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: white;
  opacity: 0.95;
}

#menu {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-left: 3rem;
  overflow: hidden;
  width: 100%;
  font-size: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, auto))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, auto));
}

#menu #menu > li {
  display: block;
  text-align: center;
}

.menuLink {
  display: block;
  text-align: center;
  color: #FFF;
  background-color: #333;
  background-color: #1c262b;
  padding: 14px 16px;
  margin-bottom: 0px;
  text-decoration: none;
  font-size: 1.4em;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0.9;
}

.menuLink:hover {
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #666;
  background-color: #7192a2;
}

.dropdownContent {
  max-height: 0px;
  overflow: hidden;
  position: absolute;
  float: none;
  opacity: 0.9;
  -webkit-transition: .5s;
  transition: .5s;
}

.dropdown:hover .dropdownContent {
  padding-top: 3px;
  height: auto;
  max-height: 20em;
  max-height: var(--boxhig);
}

br.topEmpty {
  display: block;
  content: "";
  margin-top: 66px;
}

.menuButton {
  border: 0px;
  width: 100%;
  display: none;
  background-color: #1c262b;
}

/*Make Mobile firendly */
@media screen and (max-width: 600px) {
  #bar {
    position: relative;
    min-width: 0px;
  }
  .menuButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu {
    max-height: 0px;
    -webkit-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
  }
  .openMenu {
    max-height: 80vh;
  }
  #menu {
    min-width: 0px;
    padding: 0px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -webkit-padding-start: 0px;
  }
  .menuLink {
    width: auto;
    min-width: 160px;
  }
  .topEmpty {
    margin-top: 0px;
  }
  .dropdownContent {
    width: 100%;
    position: relative;
    margin: 0px;
    background-color: #445d69;
  }
  .menuLinkDropdown {
    background-color: #445d69;
    position: relative;
  }
}

.hamburger {
  cursor: pointer;
  justify-self: flex-start;
  margin: 0px 0.6rem;
}

.hamburger .bar {
  width: 1.5rem;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

img.poster {
  width: 32%;
  min-width: 345px;
  display: inline-block;
  margin: 5px;
  margin-bottom: 20px;
  /* colour change delay*/
  -webkit-transition: .1s;
  transition: .1s;
}

@media screen and (max-width: 600px) {
  img.poster {
    width: 90%;
    float: center;
    margin-left: 5%;
  }
}

img.poster:hover {
  opacity: 0.9;
  border: 10px;
  position: relative;
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

/* THEORETICAL PHYSICS PAGE     */
div.assignments {
  width: 32%;
  min-width: 345px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
  float: left;
  clear: top;
  margin-bottom: 20px;
  /* colour change delay*/
  -webkit-transition: .3s;
  transition: .3s;
  --color1: #ddd;
  --color2: #dde9e6;
}

.assignmentLink {
  display: block;
  width: 100%;
  padding: 10px 0px;
  background-color: var(--textBoxColor);
  margin-bottom: 2px;
  text-align: center;
}

.assignmentLink:hover {
  background-color: var(--menuHover);
}

.assignmentLinkSmall {
  font-size: 72%;
}

.moduleLink {
  font-size: 1.5em;
}

/* Collapse button */
.dropButton {
  background-color: #D2D2D2;
  background-color: var(--textBoxColor);
  color: #373;
  color: var(--textColor);
  padding: 16px;
  font-size: 160%;
  border: none;
  width: 100%;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: montserrat;
  margin-top: 2px;
}

.dropButton:hover {
  background-color: #CCDFC0;
  background-color: var(--menuHover);
  color: #4A4;
  color: var(--blueBoxTextHover);
}

.closedDrop {
  display: none;
}

.openDrop {
  display: block;
  -webkit-animation-name: openBox;
          animation-name: openBox;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

@-webkit-keyframes openBox {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes openBox {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media screen and (max-width: 600px) {
  div.assignments {
    width: 90%;
    float: center;
    margin-left: 5%;
  }
  div.dropdownTable > a > div > div {
    border: 1%;
  }
}

.hwTable {
  display: none;
}

/* THEORETICAL PHYSICS PAGE     */
/* THEORETICAL PHYSICS PAGE     */
div.blueBox {
  margin: auto;
  background-color: #cde;
  background-color: var(--blueBoxColor);
  width: 60%;
  min-width: 345px;
  padding-top: 1px;
  padding-bottom: 1px;
}

div.blueBox > strong {
  font-size: 200%;
  color: navy;
  color: var(--blueBoxTitleColor);
}

div.blueBox > a {
  color: #77f;
  color: var(--blueBoxTextColor);
  font-size: 200%;
  width: 100%;
  text-align: center;
  margin: 0px auto;
  display: block;
  padding: 10px 0px;
  -webkit-transition: .3s;
  transition: .3s;
}

div.blueBox:hover {
  background-color: #c3d3ee;
  background-color: var(--blueBoxHover);
  color: #44d;
  color: var(--blueBoxTextHover);
}

.dropButtonBlue {
  background-color: #cde;
  background-color: var(--blueBoxColor);
  color: #55d;
  color: var(--blueBoxTextColor);
  padding: 16px;
  font-size: 160%;
  text-align: center;
  margin: auto;
  border-style: solid;
  border-width: 1px 0px;
  border-color: #cde;
  border-color: var(--backColor1);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  font-family: montserrat;
  margin-top: 2px;
}

.dropButtonBlue:hover {
  background-color: #b3c3e3;
  background-color: var(--blueBoxHover);
  color: #44d;
  color: var(--blueBoxTextHover);
}

@media screen and (max-width: 600px) {
  div.blueBox {
    width: 90%;
  }
}

.openDrop:nth-child(1) {
  color: blue;
}

.openDrop:nth-child(1) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(2) {
  color: blue;
}

.openDrop:nth-child(2) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(3) {
  color: blue;
}

.openDrop:nth-child(3) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(4) {
  color: blue;
}

.openDrop:nth-child(4) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(5) {
  color: blue;
}

.openDrop:nth-child(5) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(6) {
  color: blue;
}

.openDrop:nth-child(6) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(7) {
  color: blue;
}

.openDrop:nth-child(7) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(8) {
  color: blue;
}

.openDrop:nth-child(8) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(9) {
  color: blue;
}

.openDrop:nth-child(9) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(10) {
  color: blue;
}

.openDrop:nth-child(10) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(11) {
  color: blue;
}

.openDrop:nth-child(11) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(12) {
  color: blue;
}

.openDrop:nth-child(12) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(13) {
  color: blue;
}

.openDrop:nth-child(13) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(14) {
  color: blue;
}

.openDrop:nth-child(14) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(15) {
  color: blue;
}

.openDrop:nth-child(15) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(16) {
  color: blue;
}

.openDrop:nth-child(16) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(17) {
  color: blue;
}

.openDrop:nth-child(17) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(18) {
  color: blue;
}

.openDrop:nth-child(18) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(19) {
  color: blue;
}

.openDrop:nth-child(19) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(20) {
  color: blue;
}

.openDrop:nth-child(20) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(21) {
  color: blue;
}

.openDrop:nth-child(21) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(22) {
  color: blue;
}

.openDrop:nth-child(22) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(23) {
  color: blue;
}

.openDrop:nth-child(23) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(24) {
  color: blue;
}

.openDrop:nth-child(24) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(25) {
  color: blue;
}

.openDrop:nth-child(25) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(26) {
  color: blue;
}

.openDrop:nth-child(26) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(27) {
  color: blue;
}

.openDrop:nth-child(27) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(28) {
  color: blue;
}

.openDrop:nth-child(28) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:nth-child(29) {
  color: blue;
}

.openDrop:nth-child(29) a {
  position: relative;
  -webkit-animation: topFadeIn;
          animation: topFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.openDrop:first-child {
  color: green;
}

@-webkit-keyframes topFadeIn {
  0% {
    top: -1em;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes topFadeIn {
  0% {
    top: -1em;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

/*FOOTER CONTENTS*/
#footer {
  position: relative;
  width: 100%;
  background-color: #1c262b;
  height: auto;
  overflow: hidden;
  z-index: 10;
  margin: 0px;
  padding: 0px;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  border-color: white;
  bottom: -8px;
  opacity: 0.95;
}

#footer > div.full {
  margin-bottom: 60px;
}

.footerLeft, .footerRight {
  width: 48%;
  color: #aee;
  font-size: 130%;
}

.footerLeft > a, .footerRight > a {
  color: #d5f7f7;
}

.footerLeft > a:hover, .footerRight > a:hover {
  color: white;
}

.footerLeft {
  float: left;
  text-align: right;
}

.footerRight {
  float: right;
  text-align: left;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 0.1rem;
  width: 100%;
}

.projects .project-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
  padding: 0px;
  background-color: aliceblue;
  color: #022;
  display: relative;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.projects .project-tile img {
  width: 100%;
}

.projects .project-tile span {
  text-align: center;
  padding: 0.5rem;
}

.zoom {
  position: relative;
}

.zoom:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 500px) {
  .projects {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-gap: 1rem 0px;
  }
  .projects-tile {
    margin: 0.5rem;
  }
}

body {
  margin: 0px;
  font-family: Montserrat, halvetica, arial;
  --textColor:  #e9ffea/*#097325*/;
  --titleColor: #fba6ff;
  --linkColor:  #aee   ;
  --backColor1: #15112f  ;
  --backColor2: #15112f  ;
  --textBoxColor: #2f2b4a;
  --blueBoxColor: #123456;
  --blueBoxHover: #345678;
  --blueBoxTitleColor: #0cd ;
  --blueBoxTextColor:  #def;
  --blueBoxTextHover:  #def;
  background-color: #eee;
  background-color: var(--backColor2);
}

/* Basic Page Formatting */
#main {
  width: 100%;
  margin: 0px;
  background-color: #eee;
  background-color: var(--backColor1);
  overflow-wrap: break-word;
  font-size: 20px;
}

/* Formatting for page elements*/
hr {
  width: 100%;
  border-top: 1px solid #eee;
}

hr.d {
  max-width: 1300px;
  border-top: 1px solid #ccc;
}

a.highlightedLink {
  padding: 5px;
  background-color: #9ea;
  color: #062;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

a.highlightedLink:hover {
  background-color: #cfc;
  color: #193;
}

.centeredBox {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
}

.centeredBox h1 {
  margin-top: 4rem;
}

.full {
  width: 96%;
  max-width: 1300px;
  text-align: justify;
  margin: auto;
}

.fullImg {
  width: 100%;
  margin: 0px;
  min-width: 200px;
  max-height: 60vh;
  overflow: hidden;
  background-color: #333;
  background-color: var(--menuColorLighter);
  -o-object-fit: cover;
     object-fit: cover;
}

p.top-full {
  max-width: 1100px;
  text-align: justify;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}

div.multiFullPic {
  width: 100%;
  margin: 0px;
  min-width: 200px;
  max-height: 60vh;
  overflow: hidden;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.multiFullPic > img {
  width: 33.33%;
  margin: 0px;
  padding: 0px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 600px) {
  div.multiFullPic {
    max-height: 150vh;
    overflow: visible;
    display: block;
  }
  div.multiFullPic > img {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50vh;
  }
}

/* split blocks  */
.left {
  width: 96%;
  color: #097325;
  /* FONT GREEN COLOUR COLOR*/
  color: var(--textColor);
  margin: 50px auto;
  max-width: 1300px;
  overflow: auto;
  display: block;
  position: relative;
  height: auto;
}

.left > img, .leftImg {
  width: 47%;
  float: left;
  margin-bottom: 50px;
  padding: 2px;
  border: 1px solid #aaa;
  border-color: #aaa;
  max-height: 1000px;
  border-radius: 50%;
  z-index: 2;
  position: relative;
}

.left > div {
  width: 47%;
  float: right;
  background-color: #ddd;
  background-color: var(--textBoxColor);
  padding-left: 1.5%;
  padding-right: 1.5%;
  margin-bottom: 18px;
  margin-left: -26%;
  padding-left: 26%;
  z-index: 1;
}

.left > div > p {
  text-align: justify;
}

.left > div > p > a {
  line-height: 170%;
}

.left > div > p > a.inline {
  line-height: 100%;
}

@media only screen and (max-width: 600px) {
  .left > img, .leftImg {
    width: 98%;
  }
  .left > div {
    width: 96%;
    padding-left: 1.5%;
    margin-left: 2px;
    margin-right: 0px;
    border-width: 0px 0px 0px 3px;
    border-color: var(--blueBoxTitleColor);
    border-style: solid;
  }
}
/*# sourceMappingURL=style.css.map */